body{
    font-family: fantasy;
    margin-left: 1rem;
}

h1{
    color: white;
    background-color: blueviolet;
    padding: 20px;
}
input{
    width: 150px;
}
button{
    width: 150px;
    height: 20px;
    background-color: lightcoral;
}
button:hover{
    cursor: pointer;
}
input:hover{
    background-color: aqua;
}
h1:hover{
    background-color: green;
}